<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style/style.css">
    <title>Friends Circle</title>
</head>
<body>
    <div class="home-heading">
        <h1>Friends Circle</h1>
        <p class="home-paragraph">Hello, This Server is specially dedicated to my friends. since I have such awsome and loving friends, I thought making this site to dedicate our friendship.</p>
        <p class="home-paragraph">Click below button to get some intresting Information about my friends</p>
    </div>

    <div class="home-button-alignment">
        <button class="home-button js-home-button">Click Me</button>
    </div>

    <script src="../static/scripts/script.js"></script>
</body>
</html>